html {
  scroll-behavior: smooth;
}

nav {
  z-index: 1;
}
@media screen and (max-width: 991px) {
  nav {
    background-color: #666;
  }
}

.navbar .navbar-nav .nav-link:hover {
  background-color: navy;
}

.navbar .navbar-nav .nav-link {
  padding: 1em 3em;
  transition: all 0.5s;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    padding-top: 0.5em;
  }
}
.dropdown a:hover {
  background-color: navy;
}

#hero {
  background-image: url(images/new_cars-e_golf-hero-16_9-2500x1406-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}
#hero .hero-content {
  opacity: 0.8;
}
@media screen and (max-width: 420px) {
  #hero {
    background-size: 180%;
    background-position: top;
    height: 400px;
  }
  #hero .hero-content {
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  #hero .car-model {
    font-size: 48px;
  }
  #hero .hero-content {
    opacity: 0.9;
    margin-bottom: 20px;
  }
  #hero .hero-content button {
    width: 100%;
  }
}

#cta-container {
  opacity: 0;
}
#cta-container .cta-btn:hover {
  transition: all 0.2s;
  background-color: #555;
}

/*feature section*/
.feature-icon-title {
  font-size: 14px;
}

/*Spec section*/
#spec-img-1,
#spec-img-2,
#spec-img-3 {
  transition: all 0.2s;
}

#spec-img-2,
#spec-img-3 {
  display: none;
  opacity: 0;
}

/*others section - carousel small screen*/
#others {
  /* others section medium and up screens */
}
@media (max-width: 767px) {
  #others .carousel-inner .carousel-item > div {
    display: none;
  }
  #others .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
#others .carousel-inner .carousel-item.active,
#others .carousel-inner .carousel-item-next,
#others .carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  #others .carousel-inner .carousel-item-end.active,
#others .carousel-inner .carousel-item-next {
    transform: translateX(33%);
  }
  #others .carousel-inner .carousel-item-start.active,
#others .carousel-inner .carousel-item-prev {
    transform: translateX(-33%);
  }
}
#others .carousel-inner .carousel-item-end,
#others .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  transition: all 0.2s;
  box-shadow: 0 0 5px black;
}

.bottomNav-button {
  text-decoration: none;
  color: white;
}
.bottomNav-button:hover {
  -webkit-text-decoration: underline 3px navy solid;
          text-decoration: underline 3px navy solid;
  text-underline-offset: 10px;
  color: white;
}

.social {
  text-decoration: none;
  color: white;
}
.social:hover {
  color: white;
}
.social .bi-facebook:hover {
  fill: #17A9FD;
  transition: all 0.2s;
}
.social .bi-instagram:hover {
  fill: #e263ab;
  transition: all 0.2s;
}
.social .bi-twitter:hover {
  fill: #00acee;
  transition: all 0.2s;
}
.social .bi-youtube:hover {
  fill: #FF0000;
  transition: all 0.2s;
}
.social .bi-pinterest:hover {
  fill: #E60023;
  transition: all 0.2s;
}

/*sidebar
#sidebar{
  position: fixed;

  height:200px;
  top:calc(50% - 100px);
  left: 10px;
  z-index: 3;
  a{
    display: flex;
    text-decoration: none;
    color: #0d6efd;
    p{
      display: none;
    }
    p.show{
      display: block;
    }
    &:hover{
      color:red;
    }
  }

}
*/
/*chat button*/
#chatOpen {
  position: fixed;
  bottom: 50px;
  right: 25px;
  z-index: 3;
}

/*chat box*/
#chatbox {
  width: 300px;
  height: 400px;
  position: fixed;
  bottom: 40px;
  right: -600px;
  transition: all 0.5s;
  opacity: 0;
  z-index: 4;
}
#chatbox #chatClose {
  transition: all 0.2s;
}
#chatbox #chatClose:hover {
  filter: invert(50%);
}
#chatbox .chatSample {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border: 1px solid #ccc;
}
@media screen and (max-width: 576px) {
  #chatbox {
    width: 100%;
  }
}
@media screen and (max-height: 400px) {
  #chatbox {
    height: calc(100vh - 50px);
  }
}/*# sourceMappingURL=styles.css.map */