//customer variables
$light: #e9ecef;
$primary:#187a93;

//import bootstrap
@import './node_modules/bootstrap/scss/bootstrap.scss';

html {
  scroll-behavior: smooth;
}
nav{
  z-index: 1;
  @media screen and (max-width:991px)  {
    background-color: #666;
  }
}
.navbar .navbar-nav .nav-link:hover{
  background-color: navy;
}
.navbar .navbar-nav .nav-link{
  padding:1em 3em;
  transition: all 0.5s;
}
@media screen and (max-width:991px) {
  .navbar-nav{
    padding-top: .5em;
  }
}

.dropdown a:hover{
  background-color: navy;
}

#hero{
  background-image: url(images/new_cars-e_golf-hero-16_9-2500x1406-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  .hero-content{
    opacity: 0.9;
  }
  @media screen and (max-width:420px) {
    background-size: 180%;
    background-position: top;
    height: 400px;
    .hero-content{
      opacity: 1;
    }
  }
  @media screen and (min-width:992px) {
    .car-model{
      font-size: 48px;
    }
    .hero-content{
      opacity: 0.9;
      margin-bottom: 20px;
      button{
        width: 100%;
      }
    }
  }
}
#cta-container{
  opacity: 0;
  .cta-btn:hover{
    transition: all 0.2s;
    background-color: navy;
  }
}

/*feature section*/
.feature-icon-title {
  font-size: 14px;
}

/*desc section*/
.desc-title-content{
  transform: translateY(-175px);
  @media screen and (max-width:991px) {
    transform: translateY(0px);
  }
}

/*Spec section*/
#spec-img-1,
#spec-img-2,
#spec-img-3{
  transition: all 0.2s;
}

#spec-img-2,
#spec-img-3{
  display: none;
  opacity: 0;
}

/*others section - carousel small screen*/
#others{
  .carousel-control-prev,
  .carousel-control-next{
    height: 50px;
    width: 50px;
    transform: translateY(150px);
  }
  @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  .others-content{
    height: 230px;
  }
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* others section medium and up screens */
  @media (min-width: 768px) {
  
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33%);
    }
  
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
    }
  }
  
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
    transform: translateX(0);
  }
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
  transition: all 0.2s;
  box-shadow: 0 0 5px black;
}

.bottomNav-button{
  text-decoration: none;
  color:white;
  
  &:hover{
    text-decoration: underline 3px navy solid;
    text-underline-offset: 10px;
    color: white;
  }
}
.social{
  text-decoration: none;
  color: white;
  &:hover{
    color:white;
  }
  .bi-facebook:hover{
    fill:#17A9FD;
    transition: all 0.2s;
  }
  .bi-instagram:hover{
    fill:#e263ab;
    transition: all 0.2s;
  }
  .bi-twitter:hover{
    fill:#00acee;
    transition: all 0.2s;
  }
  .bi-youtube:hover{
    fill:#FF0000;
    transition: all 0.2s;
  }
  .bi-pinterest:hover{
    fill:#E60023;
    transition: all 0.2s;
  }
}

/*chat button*/
#chatOpen{
  position: fixed;
  bottom:50px;
  right: 25px;
  z-index: 3;
}
/*chat box*/
#chatbox{
  width: 300px;
  height: 400px;
  position: fixed;
  bottom:40px;
  right: -600px;
  transition: all .5s;
  opacity: 0;
  z-index: 4;
  #chatClose{
    transition: all 0.2s;
  }
  #chatClose:hover{
    filter: invert(50%);
    cursor: pointer;
  }
  .chatSample{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border: 1px solid #ccc;
  }
  @media screen and (max-width:576px){
    width:100%;
  }
  @media screen and (max-height:400px) {
    height:calc(100vh - 50px);
  }
}

//hide arrow for number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}